body
{
	background: white;
	color: black;
	font-family: arial;
	font-size: 16px;
}

header
{
	background: black;
	color: white;
	text-align: center;
	width: 100%;
	height: 80px;
	margin: 0px; 
	font-family: arial;
	position: fixed;
	top: 0px;
	z-index: 20;

}
header p
{
	margin: 0px;
	position: relative;
	top: 32px;
}

form
{
	width: 92%;
	margin-top: 130px;
	margin-right: 4%;
	margin-left: 4%;
	position: relative;
	/*top: 100px;*/
}

form>div 
{
	width:92%;
	margin: 24px 4%;
	margin-bottom: 0px;
	font-size: 15px;
	color: rgb(80, 81, 82);
}
div label
{
	margin-bottom: 4px;
}

div.botones .boton
{
	display: inline-block;
	
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 4px 0px 0px 4px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	color: white;
	font-weight: bolder;

	width: 100px;
	height: 40px;
	
}

div#color1 .boton
{
	/*background: rgb(0, 255, 255);*/
	background: rgb(123, 104, 238);

}
div#color2 .boton
{
	background: rgb(70, 130, 180);
}
div#color3 .boton
{
	/*background: rgb(176, 224, 230 );*/
	background: rgb(25, 25, 112);
}
div#color4 .boton
{
	background: rgb(200, 0, 0);
}
div.botones
{
	/*margin-top: 60px;
	margin-bottom: 25px;*/
	margin-bottom: -10px;
	margin-right: -14px;
	display: inline-block;
	width: 104px;
	
}

div.radio
{
	width: 163px;
	overflow: hidden;
}
div.checkbox
{
	width: 230px;
	overflow: hidden;
}
div.radio label
{
	position: relative;
	left: -22px;
	line-height: 25px;
}
div.checkbox label
{
	position: relative;
	left: -30px;
	line-height: 25px;
}
div#imagen input
{
	background: none;
}

input, textarea
{
	width: 98%;
	border-radius: 4px;
	background: rgb(232, 235, 245);
	border: 1px solid rgb(247, 250, 251);
	text-align: left;
	line-height: 20px;

}
input
{
	height: 30px;
}

input.opciones
{
	width: 40%;
	height: 15px;
}

/*#button1
{
	background: rgb(192, 192, 192);
	color: black;
}
#button2
{
	background: rgb(47, 79, 79);
	color: white;
}
#button3
{
	background: rgb(112, 128, 144);
	color: white;
}*/

@media screen and (min-width: 600px)
{
	form
	{
		width: 600px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 100px;
	}
	form#iniciaSesion
	{
		position: relative;
		top: 150px;
	}

	form>div
	{
		width:100%;
	}
		
}



